################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Assembler/x64/Debug
/Assembler/Debug
/Assembler/.vs
/Simulator/x64/Debug
/Simulator/Debug
/Simulator/.vs
.user
.filter
